@charset "UTF-8";

body {
	
	margin-top: 150px;
	text-align: center;
	background-color: #EFFAFF;
	
}

div.input {
	width: 50%;
	margin: auto;
}

main{
	width: 900px; margin: auto;
}

span.input-group-text {
	background-color:#0E1048;
	color: #F3F7FC;
	font-weight: bold;
}


.bi-person-fill {
	width: 50px;
	height:50px;
	color:#0E1048;
	
}


.btn-outline-secondary {
	font-weight: bold;
	width: 100%;
	height: 40px;
	color: white;
	background-color: #0E1048;
	border: 10px;
}

.btn-outline-secondary:hover {
	color: #0D1B2A;
	background-color: #8aaac8;
}