<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
	integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="style/login.css" />
<script src="javascript/newlogin.js"></script>
</head>
<body>
	<h1>
		歡迎 <div><span th:text="${session.account.get().getName}"></div>
		 
	</h1>
	<form th:action="@{/logout}" method="post">
		<button type="submit">登出</button>
	</form>
</body>
</html>