<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>註冊頁面</title>
<link rel="stylesheet" href="style/login.css" />
</head>
<body>
<form method="POST" action="/project/register"> 
<table style="margin: auto; text-align: center;">
	<h1>註冊</h1>
	<h3>請輸入您的帳號資料</h3>
	<tr>
	<td>姓名</td><td><input type="text"  name="name" th:text="${name}" ></td>
	</tr>
	<tr>
	<td>帳號</td><td><input type="text" name="account" th:text="${account}" ></td>
	</tr>
	<tr>
	<td>密碼</td><td><input type="password"  name="password" th:text="${password}"></td>
	</tr>
	<tr>
		<td colspan="2"><input type="submit" value="確認">
		
			</td>
	</tr>

		</table>
		</form>

</body>
</html>